.chat_messages {
  background-image: url("../images/chat_back.png");
  min-height: 80vh;
}

.chat .chat_messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-top: 2px solid #f7f7f7;
}

.chat .chat_timestamps {
  background-color: white;
  font-size: 12px;

  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  /* 모든 영문 대문자 만들기 */
  text-transform: uppercase;
  font-weight: 700;
}

.chat_write {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* fixed된 상태에서 위와 같이 가운데 정렬 */
  bottom: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fcfcfc;
  padding: 0px 20px;
  border-radius: 40px;
  /* 아래는 도형에 그림자 넣는 방법. 맨 마지막은 opacity 값 */
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat_write i {
  font-size: 22px;
}

.chat_write-column:nth-child(2) {
  width: 80%;
}

.chat_write-column input {
  padding: 20px 10px;
  width: 100%;
  /* 원 도형 아웃라인 제거 */
  border: none;
}

.chat_write-column:focus {
  /* send message 부분 아웃라인 없애주기 */
  outline: none;
}

.chats_list .friends_title {
  margin-bottom: 17px;
  font-weight: 600;
  opacity: 0.8;
  font-size: 15px;
}

.message {
  display: flex;
  align-items: center;
  width: 100%;
}

.message img {
  width: 50px;
  border-radius: 15px;
  margin-right: 20px;
}

.message {
  align-self: flex-start;
  margin-bottom: 50px;
}

.sent-message {
  align-self: flex-end;
  margin-bottom: 60px;
}

.chat .message_bubbles {
  background-color: white;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 10px 20px;
  border-radius: 20px;
}

.chat .message_author {
  margin-bottom: 3px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.message .message_bubbles {
  border-bottom-left-radius: 0px;
  background-image: repeating-linear-gradient(to right, #6afaff, #fbd786, pink);
  font-weight: 500;
  color: white;
  text-shadow: 0.5px 0.5px gray, -0.5px -0.5px gray, -0.5px 0.5px gray,
    0.5px -0.5px gray;
}

.sent-message .message_bubbles {
  border-bottom-right-radius: 0px;
  background-image: repeating-linear-gradient(to left, #6afaff, #fbd786, pink);
  font-weight: 500;
  color: white;
  text-shadow: 0.5px 0.5px gray, -0.5px -0.5px gray, -0.5px 0.5px gray,
    0.5px -0.5px gray;
}
