.header {
  display: flex;
  /* flex는 정렬*/
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.header .header_title {
  font-size: 24px;
  font-weight: 600;
  /* weight가 굵기조절 */
}

.header .header_icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header_column {
  display: flex;
  align-items: center;
}

.header .header_back-btn {
  font-size: 22px;
  margin-right: 10px;
}
